<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.BiobankSys.mapper.ProteomicDataMapper">
    
    <resultMap type="ProteomicData" id="ProteomicDataResult">
        <result property="proteomicId"    column="proteomic_id"    />
        <result property="specimenId"    column="specimen_id"    />
        <result property="analysisDate"    column="analysis_date"    />
        <result property="analysisMethod"    column="analysis_method"    />
        <result property="il4Level"    column="il4_level"    />
        <result property="il5Level"    column="il5_level"    />
        <result property="il13Level"    column="il13_level"    />
        <result property="igeLevel"    column="ige_level"    />
        <result property="cytokineProfile"    column="cytokine_profile"    />
        <result property="dataFilePath"    column="data_file_path"    />
    </resultMap>

    <sql id="selectProteomicDataVo">
        select proteomic_id, specimen_id, analysis_date, analysis_method, il4_level, il5_level, il13_level, ige_level, cytokine_profile, data_file_path from proteomic_data
    </sql>

    <select id="selectProteomicDataList" parameterType="ProteomicData" resultMap="ProteomicDataResult">
        <include refid="selectProteomicDataVo"/>
        <where>  
            <if test="specimenId != null  and specimenId != ''"> and specimen_id = #{specimenId}</if>
        </where>
    </select>
    
    <select id="selectProteomicDataByProteomicId" parameterType="Long" resultMap="ProteomicDataResult">
        <include refid="selectProteomicDataVo"/>
        where proteomic_id = #{proteomicId}
    </select>

    <insert id="insertProteomicData" parameterType="ProteomicData" useGeneratedKeys="true" keyProperty="proteomicId">
        insert into proteomic_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="specimenId != null and specimenId != ''">specimen_id,</if>
            <if test="analysisDate != null">analysis_date,</if>
            <if test="analysisMethod != null">analysis_method,</if>
            <if test="il4Level != null">il4_level,</if>
            <if test="il5Level != null">il5_level,</if>
            <if test="il13Level != null">il13_level,</if>
            <if test="igeLevel != null">ige_level,</if>
            <if test="cytokineProfile != null">cytokine_profile,</if>
            <if test="dataFilePath != null">data_file_path,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="specimenId != null and specimenId != ''">#{specimenId},</if>
            <if test="analysisDate != null">#{analysisDate},</if>
            <if test="analysisMethod != null">#{analysisMethod},</if>
            <if test="il4Level != null">#{il4Level},</if>
            <if test="il5Level != null">#{il5Level},</if>
            <if test="il13Level != null">#{il13Level},</if>
            <if test="igeLevel != null">#{igeLevel},</if>
            <if test="cytokineProfile != null">#{cytokineProfile},</if>
            <if test="dataFilePath != null">#{dataFilePath},</if>
         </trim>
    </insert>

    <update id="updateProteomicData" parameterType="ProteomicData">
        update proteomic_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="specimenId != null and specimenId != ''">specimen_id = #{specimenId},</if>
            <if test="analysisDate != null">analysis_date = #{analysisDate},</if>
            <if test="analysisMethod != null">analysis_method = #{analysisMethod},</if>
            <if test="il4Level != null">il4_level = #{il4Level},</if>
            <if test="il5Level != null">il5_level = #{il5Level},</if>
            <if test="il13Level != null">il13_level = #{il13Level},</if>
            <if test="igeLevel != null">ige_level = #{igeLevel},</if>
            <if test="cytokineProfile != null">cytokine_profile = #{cytokineProfile},</if>
            <if test="dataFilePath != null">data_file_path = #{dataFilePath},</if>
        </trim>
        where proteomic_id = #{proteomicId}
    </update>

    <delete id="deleteProteomicDataByProteomicId" parameterType="Long">
        delete from proteomic_data where proteomic_id = #{proteomicId}
    </delete>

    <delete id="deleteProteomicDataByProteomicIds" parameterType="String">
        delete from proteomic_data where proteomic_id in 
        <foreach item="proteomicId" collection="array" open="(" separator="," close=")">
            #{proteomicId}
        </foreach>
    </delete>
</mapper>