<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.BiobankSys.mapper.BiospecimensMapper">
    
    <resultMap type="Biospecimens" id="BiospecimensResult">
        <result property="specimenId"    column="specimen_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="specimenType"    column="specimen_type"    />
        <result property="collectionDate"    column="collection_date"    />
        <result property="collectionSite"    column="collection_site"    />
        <result property="collectionMethod"    column="collection_method"    />
        <result property="collectionVolume"    column="collection_volume"    />
        <result property="collectionTubeType"    column="collection_tube_type"    />
        <result property="processingMethod"    column="processing_method"    />
        <result property="initialProcessingTime"    column="initial_processing_time"    />
        <result property="aliquotCount"    column="aliquot_count"    />
        <result property="clinicalContext"    column="clinical_context"    />
    </resultMap>

    <sql id="selectBiospecimensVo">
        select specimen_id, patient_id, specimen_type, collection_date, collection_site, collection_method, collection_volume, collection_tube_type, processing_method, initial_processing_time, aliquot_count, clinical_context from biospecimens
    </sql>

    <select id="selectBiospecimensList" parameterType="Biospecimens" resultMap="BiospecimensResult">
        <include refid="selectBiospecimensVo"/>
        <where>  
            <if test="patientId != null  and patientId != ''"> and patient_id = #{patientId}</if>
            <if test="specimenType != null  and specimenType != ''"> and specimen_type = #{specimenType}</if>
            <if test="collectionDate != null "> and collection_date = #{collectionDate}</if>
            <if test="collectionSite != null  and collectionSite != ''"> and collection_site = #{collectionSite}</if>
            <if test="collectionMethod != null  and collectionMethod != ''"> and collection_method = #{collectionMethod}</if>
            <if test="collectionVolume != null "> and collection_volume = #{collectionVolume}</if>
            <if test="collectionTubeType != null  and collectionTubeType != ''"> and collection_tube_type = #{collectionTubeType}</if>
            <if test="processingMethod != null  and processingMethod != ''"> and processing_method = #{processingMethod}</if>
            <if test="initialProcessingTime != null "> and initial_processing_time = #{initialProcessingTime}</if>
            <if test="aliquotCount != null "> and aliquot_count = #{aliquotCount}</if>
            <if test="clinicalContext != null  and clinicalContext != ''"> and clinical_context = #{clinicalContext}</if>
        </where>
    </select>
    
    <select id="selectBiospecimensBySpecimenId" parameterType="String" resultMap="BiospecimensResult">
        <include refid="selectBiospecimensVo"/>
        where specimen_id = #{specimenId}
    </select>

    <insert id="insertBiospecimens" parameterType="Biospecimens">
        insert into biospecimens
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="specimenId != null">specimen_id,</if>
            <if test="patientId != null and patientId != ''">patient_id,</if>
            <if test="specimenType != null and specimenType != ''">specimen_type,</if>
            <if test="collectionDate != null">collection_date,</if>
            <if test="collectionSite != null">collection_site,</if>
            <if test="collectionMethod != null">collection_method,</if>
            <if test="collectionVolume != null">collection_volume,</if>
            <if test="collectionTubeType != null">collection_tube_type,</if>
            <if test="processingMethod != null">processing_method,</if>
            <if test="initialProcessingTime != null">initial_processing_time,</if>
            <if test="aliquotCount != null">aliquot_count,</if>
            <if test="clinicalContext != null">clinical_context,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="specimenId != null">#{specimenId},</if>
            <if test="patientId != null and patientId != ''">#{patientId},</if>
            <if test="specimenType != null and specimenType != ''">#{specimenType},</if>
            <if test="collectionDate != null">#{collectionDate},</if>
            <if test="collectionSite != null">#{collectionSite},</if>
            <if test="collectionMethod != null">#{collectionMethod},</if>
            <if test="collectionVolume != null">#{collectionVolume},</if>
            <if test="collectionTubeType != null">#{collectionTubeType},</if>
            <if test="processingMethod != null">#{processingMethod},</if>
            <if test="initialProcessingTime != null">#{initialProcessingTime},</if>
            <if test="aliquotCount != null">#{aliquotCount},</if>
            <if test="clinicalContext != null">#{clinicalContext},</if>
         </trim>
    </insert>

    <update id="updateBiospecimens" parameterType="Biospecimens">
        update biospecimens
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientId != null and patientId != ''">patient_id = #{patientId},</if>
            <if test="specimenType != null and specimenType != ''">specimen_type = #{specimenType},</if>
            <if test="collectionDate != null">collection_date = #{collectionDate},</if>
            <if test="collectionSite != null">collection_site = #{collectionSite},</if>
            <if test="collectionMethod != null">collection_method = #{collectionMethod},</if>
            <if test="collectionVolume != null">collection_volume = #{collectionVolume},</if>
            <if test="collectionTubeType != null">collection_tube_type = #{collectionTubeType},</if>
            <if test="processingMethod != null">processing_method = #{processingMethod},</if>
            <if test="initialProcessingTime != null">initial_processing_time = #{initialProcessingTime},</if>
            <if test="aliquotCount != null">aliquot_count = #{aliquotCount},</if>
            <if test="clinicalContext != null">clinical_context = #{clinicalContext},</if>
        </trim>
        where specimen_id = #{specimenId}
    </update>

    <delete id="deleteBiospecimensBySpecimenId" parameterType="String">
        delete from biospecimens where specimen_id = #{specimenId}
    </delete>

    <delete id="deleteBiospecimensBySpecimenIds" parameterType="String">
        delete from biospecimens where specimen_id in 
        <foreach item="specimenId" collection="array" open="(" separator="," close=")">
            #{specimenId}
        </foreach>
    </delete>
</mapper>