<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.BiobankSys.mapper.SpecimenClinicalLinkMapper">
    
    <resultMap type="SpecimenClinicalLink" id="SpecimenClinicalLinkResult">
        <result property="linkId"    column="link_id"    />
        <result property="specimenId"    column="specimen_id"    />
        <result property="clinicalDiagnosisId"    column="clinical_diagnosis_id"    />
        <result property="clinicalSymptomId"    column="clinical_symptom_id"    />
        <result property="clinicalMedicationId"    column="clinical_medication_id"    />
        <result property="clinicalTestId"    column="clinical_test_id"    />
        <result property="linkType"    column="link_type"    />
        <result property="clinicalNotes"    column="clinical_notes"    />
    </resultMap>

    <sql id="selectSpecimenClinicalLinkVo">
        select link_id, specimen_id, clinical_diagnosis_id, clinical_symptom_id, clinical_medication_id, clinical_test_id, link_type, clinical_notes from specimen_clinical_link
    </sql>

    <select id="selectSpecimenClinicalLinkList" parameterType="SpecimenClinicalLink" resultMap="SpecimenClinicalLinkResult">
        <include refid="selectSpecimenClinicalLinkVo"/>
        <where>  
            <if test="specimenId != null  and specimenId != ''"> and specimen_id = #{specimenId}</if>
            <if test="clinicalDiagnosisId != null "> and clinical_diagnosis_id = #{clinicalDiagnosisId}</if>
            <if test="clinicalSymptomId != null "> and clinical_symptom_id = #{clinicalSymptomId}</if>
            <if test="clinicalMedicationId != null "> and clinical_medication_id = #{clinicalMedicationId}</if>
            <if test="clinicalTestId != null "> and clinical_test_id = #{clinicalTestId}</if>
            <if test="linkType != null  and linkType != ''"> and link_type = #{linkType}</if>
            <if test="clinicalNotes != null  and clinicalNotes != ''"> and clinical_notes = #{clinicalNotes}</if>
        </where>
    </select>
    
    <select id="selectSpecimenClinicalLinkByLinkId" parameterType="Long" resultMap="SpecimenClinicalLinkResult">
        <include refid="selectSpecimenClinicalLinkVo"/>
        where link_id = #{linkId}
    </select>

    <insert id="insertSpecimenClinicalLink" parameterType="SpecimenClinicalLink" useGeneratedKeys="true" keyProperty="linkId">
        insert into specimen_clinical_link
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="specimenId != null and specimenId != ''">specimen_id,</if>
            <if test="clinicalDiagnosisId != null">clinical_diagnosis_id,</if>
            <if test="clinicalSymptomId != null">clinical_symptom_id,</if>
            <if test="clinicalMedicationId != null">clinical_medication_id,</if>
            <if test="clinicalTestId != null">clinical_test_id,</if>
            <if test="linkType != null">link_type,</if>
            <if test="clinicalNotes != null">clinical_notes,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="specimenId != null and specimenId != ''">#{specimenId},</if>
            <if test="clinicalDiagnosisId != null">#{clinicalDiagnosisId},</if>
            <if test="clinicalSymptomId != null">#{clinicalSymptomId},</if>
            <if test="clinicalMedicationId != null">#{clinicalMedicationId},</if>
            <if test="clinicalTestId != null">#{clinicalTestId},</if>
            <if test="linkType != null">#{linkType},</if>
            <if test="clinicalNotes != null">#{clinicalNotes},</if>
         </trim>
    </insert>

    <update id="updateSpecimenClinicalLink" parameterType="SpecimenClinicalLink">
        update specimen_clinical_link
        <trim prefix="SET" suffixOverrides=",">
            <if test="specimenId != null and specimenId != ''">specimen_id = #{specimenId},</if>
            <if test="clinicalDiagnosisId != null">clinical_diagnosis_id = #{clinicalDiagnosisId},</if>
            <if test="clinicalSymptomId != null">clinical_symptom_id = #{clinicalSymptomId},</if>
            <if test="clinicalMedicationId != null">clinical_medication_id = #{clinicalMedicationId},</if>
            <if test="clinicalTestId != null">clinical_test_id = #{clinicalTestId},</if>
            <if test="linkType != null">link_type = #{linkType},</if>
            <if test="clinicalNotes != null">clinical_notes = #{clinicalNotes},</if>
        </trim>
        where link_id = #{linkId}
    </update>

    <delete id="deleteSpecimenClinicalLinkByLinkId" parameterType="Long">
        delete from specimen_clinical_link where link_id = #{linkId}
    </delete>

    <delete id="deleteSpecimenClinicalLinkByLinkIds" parameterType="String">
        delete from specimen_clinical_link where link_id in 
        <foreach item="linkId" collection="array" open="(" separator="," close=")">
            #{linkId}
        </foreach>
    </delete>
</mapper>