<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.BiobankSys.mapper.SpecimenStorageMapper">
    
    <resultMap type="SpecimenStorage" id="SpecimenStorageResult">
        <result property="storageId"    column="storage_id"    />
        <result property="specimenId"    column="specimen_id"    />
        <result property="storageLocation"    column="storage_location"    />
        <result property="storagePosition"    column="storage_position"    />
        <result property="storageTemperature"    column="storage_temperature"    />
        <result property="freezeDate"    column="freeze_date"    />
        <result property="freezeMethod"    column="freeze_method"    />
        <result property="freezeThawCycles"    column="freeze_thaw_cycles"    />
        <result property="storageStatus"    column="storage_status"    />
        <result property="lastCheckDate"    column="last_check_date"    />
    </resultMap>

    <sql id="selectSpecimenStorageVo">
        select storage_id, specimen_id, storage_location, storage_position, storage_temperature, freeze_date, freeze_method, freeze_thaw_cycles, storage_status, last_check_date from specimen_storage
    </sql>

    <select id="selectSpecimenStorageList" parameterType="SpecimenStorage" resultMap="SpecimenStorageResult">
        <include refid="selectSpecimenStorageVo"/>
        <where>  
            <if test="specimenId != null  and specimenId != ''"> and specimen_id = #{specimenId}</if>
            <if test="storageLocation != null  and storageLocation != ''"> and storage_location = #{storageLocation}</if>
            <if test="storagePosition != null  and storagePosition != ''"> and storage_position = #{storagePosition}</if>
            <if test="storageTemperature != null "> and storage_temperature = #{storageTemperature}</if>
            <if test="freezeDate != null "> and freeze_date = #{freezeDate}</if>
            <if test="freezeMethod != null  and freezeMethod != ''"> and freeze_method = #{freezeMethod}</if>
            <if test="freezeThawCycles != null "> and freeze_thaw_cycles = #{freezeThawCycles}</if>
            <if test="storageStatus != null  and storageStatus != ''"> and storage_status = #{storageStatus}</if>
            <if test="lastCheckDate != null "> and last_check_date = #{lastCheckDate}</if>
        </where>
    </select>
    
    <select id="selectSpecimenStorageByStorageId" parameterType="Long" resultMap="SpecimenStorageResult">
        <include refid="selectSpecimenStorageVo"/>
        where storage_id = #{storageId}
    </select>

    <insert id="insertSpecimenStorage" parameterType="SpecimenStorage" useGeneratedKeys="true" keyProperty="storageId">
        insert into specimen_storage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="specimenId != null and specimenId != ''">specimen_id,</if>
            <if test="storageLocation != null and storageLocation != ''">storage_location,</if>
            <if test="storagePosition != null">storage_position,</if>
            <if test="storageTemperature != null">storage_temperature,</if>
            <if test="freezeDate != null">freeze_date,</if>
            <if test="freezeMethod != null">freeze_method,</if>
            <if test="freezeThawCycles != null">freeze_thaw_cycles,</if>
            <if test="storageStatus != null">storage_status,</if>
            <if test="lastCheckDate != null">last_check_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="specimenId != null and specimenId != ''">#{specimenId},</if>
            <if test="storageLocation != null and storageLocation != ''">#{storageLocation},</if>
            <if test="storagePosition != null">#{storagePosition},</if>
            <if test="storageTemperature != null">#{storageTemperature},</if>
            <if test="freezeDate != null">#{freezeDate},</if>
            <if test="freezeMethod != null">#{freezeMethod},</if>
            <if test="freezeThawCycles != null">#{freezeThawCycles},</if>
            <if test="storageStatus != null">#{storageStatus},</if>
            <if test="lastCheckDate != null">#{lastCheckDate},</if>
         </trim>
    </insert>

    <update id="updateSpecimenStorage" parameterType="SpecimenStorage">
        update specimen_storage
        <trim prefix="SET" suffixOverrides=",">
            <if test="specimenId != null and specimenId != ''">specimen_id = #{specimenId},</if>
            <if test="storageLocation != null and storageLocation != ''">storage_location = #{storageLocation},</if>
            <if test="storagePosition != null">storage_position = #{storagePosition},</if>
            <if test="storageTemperature != null">storage_temperature = #{storageTemperature},</if>
            <if test="freezeDate != null">freeze_date = #{freezeDate},</if>
            <if test="freezeMethod != null">freeze_method = #{freezeMethod},</if>
            <if test="freezeThawCycles != null">freeze_thaw_cycles = #{freezeThawCycles},</if>
            <if test="storageStatus != null">storage_status = #{storageStatus},</if>
            <if test="lastCheckDate != null">last_check_date = #{lastCheckDate},</if>
        </trim>
        where storage_id = #{storageId}
    </update>

    <delete id="deleteSpecimenStorageByStorageId" parameterType="Long">
        delete from specimen_storage where storage_id = #{storageId}
    </delete>

    <delete id="deleteSpecimenStorageByStorageIds" parameterType="String">
        delete from specimen_storage where storage_id in 
        <foreach item="storageId" collection="array" open="(" separator="," close=")">
            #{storageId}
        </foreach>
    </delete>
</mapper>